.footer {
    background-color: #f9f9f9;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #ddd; 
}
  
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 18px;
    color: #333;
}
  
.footer-logo a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
}
  
.footer-logo i {
    color: #000000; 
}
  