.register-page {
  background-image: url("/public/images/łapkiVetSlay5.png"); /* Tło strony */
  background-size: cover; /* Dopasowanie tła */
  background-position: center; /* Wyśrodkowanie tła */
  min-height: 86.5vh; /* Wysokość strony */
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  font-family: 'Rajdhani', sans-serif; /* Profesjonalna czcionka */
  width: 400px;
  padding: 20px;
  border-radius: 10px; /* Zaokrąglenie rogów */
  background-color: rgba(255, 255, 255, 0.9); /* Półprzezroczyste tło */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lekki cień */
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000; /* Kolor nagłówka */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Kolor tekstu */
}

.form-group input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Rajdhani', sans-serif; /* Czcionka przycisku */
  color: white;
  background-color: #ADCBD3; /* Kolor przycisku */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #98b3bb; /* Ciemniejszy kolor po najechaniu */
}

.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
}
