.appointments-page {
  background-image: url("/public/images/łapkiVetSlay5.png"); /* Tło */
  background-size: 100% auto; /* Dopasowanie szerokości, wysokość proporcjonalna */
  background-position: center; /* Wyśrodkowanie tła */
  min-height: 86.5vh; /* Wysokość strony */
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointments-container {
  font-family: 'Rajdhani', sans-serif; /* Profesjonalna czcionka */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* Półprzezroczyste białe tło */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lekki cień */
  max-width: 1200px;
  margin: 0 auto; /* Wyśrodkowanie kontenera */
}

.appointments-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000; /* Kolor akcentu */
  text-transform: uppercase;
}

.appointments-content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.pets-list {
  flex: 1;
  max-width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

.pets-list h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
}

.pets-list ul {
  list-style: none;
  padding: 0;
}

.pets-list li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

.pets-list li:last-child {
  border-bottom: none;
}

.pets-list li:hover {
  background-color: #e9ecef; /* Delikatne podświetlenie */
}

.pets-list li.active {
  background-color: #ADCBD3; /* Kolor aktywnego elementu */
  color: white;
  font-weight: bold;
}

.appointments-table-container {
  flex: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekki cień dla tabeli */
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekki cień */
  background-color: #ffffff; /* Tło tabeli */
}

.appointments-table th,
.appointments-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: center;
}

.appointments-table th {
  background-color: #ADCBD3; /* Kolor nagłówków */
  color: white;
  text-transform: uppercase;
}

.appointments-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Delikatny pasek wiersza */
}

.appointments-table tr:hover {
  background-color: #e9ecef; /* Jasne podświetlenie wiersza */
  transition: background-color 0.3s ease;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}
