.register-page {
  background-image: url("/public/images/łapkiVetSlay5.png");
  background-size: cover;
  background-position: center;
  min-height: 86.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  font-family: 'Rajdhani', sans-serif;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  background-color: #ADCBD3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #98b3bb;
}

.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
}
