.calendar-page {
  background-image: url("/public/images/łapkiVetSlay5.png");
  background-size: 100% auto; /* Dopasuj szerokość, zachowaj proporcje */
  background-position: center;
  background-attachment: fixed; /* Stałe tło */
  min-height: 86vh; /* Minimalna wysokość */
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  font-family: 'Rajdhani', sans-serif; /* Profesjonalna czcionka */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Półprzezroczyste tło */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lekki cień */
  max-width: 1500px; /* Ograniczenie szerokości */
  text-align: center; /* Wyśrodkowanie tekstu */
  margin: 10px 10px;
}

.calendar-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000; /* Kolor nagłówka */
  text-transform: uppercase;
  position: relative;
  top: -20px;
}

.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Odstęp między elementami */
  margin-bottom: 20px;
  position: relative;
  top: -20px;
}

.form-inline select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 220px;
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Dystans od góry */
}

.navigation-button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #ADCBD3; /* Kolor przycisku */
  color: white;
  border: none;
  border-radius: 5px; /* Zaokrąglenie rogów */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lekki cień */
  position: relative;
  top: -30px;
}

.navigation-button:hover {
  background-color: #98b3bb; /* Ciemniejszy kolor na hover */
}

.calendar {
  display: flex;
  justify-content: center;
  gap: 20px; /* Odstęp między kolumnami dni */
  position: relative;
  top: -40px;
}

.day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Odstęp między slotami */
}

.day-column h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.time-slot {
  width: 70px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #ffffff; /* Białe tło dla slotów */
  font-size: 1rem;
  border-radius: 5px; /* Zaokrąglenie */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

.time-slot.available:hover {
  background-color: #e0f7fa; /* Jasne podświetlenie na hover */
}

.time-slot.unavailable {
  text-decoration: line-through; /* Przekreślenie */
  color: #999;
  cursor: not-allowed;
}