.veterinarians-page {
  background-image: url("/public/images/łapkiVetSlay5.png"); /* Tło */
  background-size: cover; /* Dopasowanie tła */
  background-position: center; /* Wyśrodkowanie tła */
  min-height: 86vh; /* Wysokość strony */
  display: flex;
  align-items: center;
  justify-content: center;
}

.veterinarians-container {
  font-family: 'Rajdhani', sans-serif;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Półprzezroczyste białe tło */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Wyraźniejszy cień */
  max-width: 1200px;
  width: 100%; /* Dopasowanie do szerokości */
}

.veterinarians-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000; /* Kolor nagłówka */
  text-transform: uppercase;
}

.veterinarians-table-container {
  background-color: #ffffff; /* Białe tło dla tabeli */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

.veterinarians-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekki cień */
  background-color: #ffffff; /* Tło tabeli */
}

.veterinarians-table th,
.veterinarians-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

.veterinarians-table th {
  background-color: #ADCBD3; /* Kolor nagłówków */
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.veterinarians-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Delikatny pasek wiersza */
}

.veterinarians-table tr:hover {
  background-color: #e9ecef; /* Jasne podświetlenie wiersza */
  transition: background-color 0.3s ease;
}

.rating-cell {
  display: flex; /* Ustaw elementy w jednej linii */
  align-items: center; /* Wyrównaj ikonę i tekst w pionie */
  justify-content: flex-start; /* Ustaw elementy po lewej stronie */
  gap: 5px; /* Odstęp między ikoną a tekstem */
}

.rating-cell .fa-star {
  color: gold; /* Kolor ikony */
  font-size: 1.2rem; /* Rozmiar ikony */
}
