.veterinarians-page {
  background-image: url("/public/images/łapkiVetSlay5.png");
  background-size: cover;
  background-position: center;
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.veterinarians-container {
  font-family: 'Rajdhani', sans-serif;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 100%;
}

.veterinarians-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
}

.veterinarians-table-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.veterinarians-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.veterinarians-table th,
.veterinarians-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

.veterinarians-table th {
  background-color: #ADCBD3;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.veterinarians-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.veterinarians-table tr:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s ease;
}

.rating-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.rating-cell .fa-star {
  color: gold;
  font-size: 1.2rem;
}
